language: python
python:
    - "2.7"
    - "3.4"
    - "3.5"

before_install:
    - sudo add-apt-repository -y ppa:ubuntu-toolchain-r/test  # for gcc-4.9
    - sudo apt-get -qq update
    - sudo apt-get install -y verilator 
    - sudo apt-get install -y g++-4.9 gcc-4.9  # coreir dependency
    - pip install --upgrade pip setuptools

    # BEGIN: coreir installation
    - git clone -b dev https://github.com/rdaly525/coreir.git
    - cd coreir;
    - export COREIRCONFIG="g++-4.9";
    - export COREIR=$PWD
    - export LD_LIBRARY_PATH=$PWD/lib:$LD_LIBRARY_PATH
    - make install -j 2
    - make py
    - cd ..;
    # END: coreir installation

install: 
    - pip install -r requirements.txt
    - pip install pytest-cov
    - pip install -e .

script: 
    - py.test --cov=magma --ignore=coreir/  # Ignore tests in the coreir directory
