CONFIG PART=xc3s250e-VQ100-4;
NET "SWITCH[5]" IOSTANDARD=LVTTL | LOC="P2";
NET "SWITCH[6]" IOSTANDARD=LVTTL | LOC="P3";
NET "SWITCH[7]" IOSTANDARD=LVTTL | LOC="P4";
NET "LED[0]" IOSTANDARD=LVTTL | LOC="P5";
NET "LED[1]" IOSTANDARD=LVTTL | LOC="P9";
NET "LED[2]" IOSTANDARD=LVTTL | LOC="P10";
NET "LED[3]" IOSTANDARD=LVTTL | LOC="P11";
NET "LED[4]" IOSTANDARD=LVTTL | LOC="P12";
NET "LED[5]" IOSTANDARD=LVTTL | LOC="P15";
NET "LED[6]" IOSTANDARD=LVTTL | LOC="P16";
NET "LED[7]" IOSTANDARD=LVTTL | LOC="P17";
NET "SWITCH[0]" IOSTANDARD=LVTTL | LOC="P91";
NET "SWITCH[1]" IOSTANDARD=LVTTL | LOC="P92";
NET "SWITCH[2]" IOSTANDARD=LVTTL | LOC="P94";
NET "SWITCH[3]" IOSTANDARD=LVTTL | LOC="P95";
NET "SWITCH[4]" IOSTANDARD=LVTTL | LOC="P98";
