CONFIG PART=xc3s250e-VQ100-4;
NET "LED[0]" IOSTANDARD=LVTTL | LOC="P5";
NET "LED[1]" IOSTANDARD=LVTTL | LOC="P9";
NET "SWITCH[0]" IOSTANDARD=LVTTL | LOC="P91";
NET "SWITCH[1]" IOSTANDARD=LVTTL | LOC="P92";
