name: Deploy

on:
  push:
    tags:
      - v*

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        sudo apt install -y verilator libgmp-dev libmpfr-dev libmpc-dev
        python -m pip install --upgrade pip
        pip install flake8 pytest pytest-cov pytest-pycodestyle fault
        pip install kratos  # test optional dependency
        pip install -e .
    - name: Test with pytest
      run: |
        py.test --cov magma -v --cov-report term-missing tests
        pycodestyle magma/
    - name: Install deploy packages
      shell: bash -l {0}
      run: |
          pip install twine
    - name: Upload to PyPI
      shell: bash -l {0}
      run: |
          source .travis/deploy.sh
      env:
        PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
