# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Linux Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install dependencies
      run: |
        sudo apt install -y verilator libgmp-dev libmpfr-dev libmpc-dev
        python -m pip install --upgrade pip
        pip install flake8 pytest pytest-cov pytest-pycodestyle fault
        pip install kratos  # test optional dependency
        pip install -e .
    - name: Test with pytest
      run: |
        py.test --cov magma -v --cov-report term-missing tests
        pycodestyle magma/
    - name: Test with pytest
      run: |
        bash <(curl -s https://codecov.io/bash)
